:root {
    --black-color: #222222;
    --pink-color: #F16D7F;
    --pink-background: #F1E4E6;
    --white-color: #FFF;
    --gray-bkg-color: #F8F8F8;
    --pink-title-bkg: #F8F3F4;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

*:focus {
    outline-style: none;
}

body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@media (max-width: 1599px) {
    .container {
      width: 96%;
    }
  }

.header {
    background-color: var(--black-color);
    width: 100%;
    margin: 0 auto;
}

.header__container {
    display: flex;
    min-height: 75px;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__button {
    background-color: transparent;
    border: none;
    margin-top: 6px;
    cursor: pointer;
}

.header__button_cart::after {
    content: "1";
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #FBFBFB;
    background: #F16D7F;
    border-radius: 50%;
    padding: 3px 7px;
    position: relative;
    left: -8px;
    top: -20px;
}

@media (max-width: 460px) {
    .header__button_cart {
        display: none;
    }
}

@media (max-width: 460px) {
    .header__button_account {
        display: none;
    }
}

@media (max-width: 460px) {
    .header__button_menu {
        padding-left: 30px;
    }
}

.header__button:hover,
.header__button:focus {
    opacity: .8;
}

.header__button:active {
    opacity: .5;
}

.header__menu-list,
.header__logo-container {
    display: flex;
    align-items: center;
}

.header__menu-item:not(:last-of-type) {
    margin: 0 34px 0 0;
}

@media (max-width: 460px) {
    .header__menu-item:not(:last-of-type) {
        margin: 0;
    }
}

.header__navigation {
    width: 232px;
    height: 703px;
    background: #FBFBFB;
    position: absolute;
    z-index: 1;
    right: 0px;
}

@media (max-width: 1599px) {
    .header__navigation {
        display: none;
    }
}

.header__navigation-menu-close-icon {
    border: 0;
    outline: 0;
    background-color: transparent;
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
}

.header__navigation-menu-close-icon:hover {
    opacity: 0.7;
}

.header__navigation-menu-head {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
    padding-top: 37px;
    padding-left: 34px;
}

.header__navigation-menu-name {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-transform: uppercase;
}

.header__navigation-menu-sub-item {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #6F6E6E;
    padding-left: 54px;
}

.header__navigation-menu-sub-item:hover {
    opacity: 0.8;
}

.header__navigation-menu-sub-item a {
    text-decoration: none;
    color: var(--black-color);
}

.header__navigation-menu-item {
    padding-top: 22px;
    padding-bottom: 12px;
    padding-left: 33px;
}

@media (max-width: 1599px) {
    .header .header__container {
      width: 91.5%;
    }
  }

.name {
    display: flex;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

@media (max-width: 1599px){
    .name .name__img {
        width: 50%;
        height: auto;
    }
}

@media (max-width: 635px) {
    .name__img {
        display: none;
    }
}

.name__header-span {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    color: var(--pink-color);
}

.name__header {
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.name__content {
    width: 100%;
    padding: 335px 0 0 64px;
    background-color: var(--pink-background);
}

@media (max-width: 1599px) {
    .name .name__content {
        padding: 138px 0 0 40px;
    }
}

@media (max-width: 460px) {
    .name .name__content {
        padding: 148px 0 149px 55px;
    }
}

.name__header {
    position: relative;
    padding: 0 0 0 28px;
}

@media (max-width: 1599px) {
    .name .name__header {
        font-size: 44px;
        line-height: 52px;
    }
}

@media (max-width: 460px) {
    .name .name__header {
        font-size: 38px;
        line-height: 27px;
    }
}

@media (max-width: 1599px) {
    .name .name__header-span {
        font-size: 24px;
        line-height: 29px;
    }
}

@media (max-width: 460px) {
    .name .name__header-span {
        font-size: 20px;
        line-height: 24px;
    }
}

.name__header::before {
    position: absolute;
    content: '';
    width: 12px;
    height: 100%;
    background-color: var(--pink-color);
    left: -12px;
}

.stock {
    padding: 63px 0 97px 0;
}

@media (min-width: 768px) and (max-width: 1599px) {
    .stock {
      padding: 19px 0 155px;
    }
  }

@media (max-width: 460px) {
    .stock {
      padding: 64px 0 64px 0;
    }
}

.stock__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.stock__item--first {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 260px;
    background-image: url(../img/for-women.png);
    text-align: center;
    color: var(--white-color);
    text-transform: uppercase;
}

.stock__item--first:hover {
    outline: 2px solid rgb(241, 146, 162);
    cursor: pointer;
}

.stock__item--first:active {
    outline: 2px solid black;
}

.stock__item--second {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 260px;
    background-image: url(../img/for-men.png);
    text-align: center;
    color: var(--white-color);
    text-transform: uppercase;
}

.stock__item--second:hover {
    outline: 2px solid rgb(241, 146, 162);
    cursor: pointer;
}

.stock__item--second:active {
    outline: 2px solid black;
}

.stock__item--third {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 260px;
    background-image: url(../img/for-kids.png);
    text-align: center;
    color: var(--white-color);
    text-transform: uppercase;
}

.stock__item--third:hover {
    outline: 2px solid rgb(241, 146, 162);
    cursor: pointer;
}

.stock__item--third:active {
    outline: 2px solid black;
}

.stock__item:not(.stock__item--last) {
    margin: 0 0 30px;
}

@media (min-width: 768px) and (max-width: 1599px) {
    .stock .stock__item:not(.stock__item--last) {
      margin: 0 0 19px;
    }
  }
  
@media (min-width: 768px) and (max-width: 1599px) {
    .stock .stock__item--first {
      width: 31.5%;
    }
}

@media (max-width: 460px) {
    .stock .stock__item--first {
      width: 100%;
      margin-bottom: 32px;
    }
}

@media (min-width: 768px) and (max-width: 1599px) {
    .stock .stock__item--second {
      width: 31.5%;
    }
}

@media (max-width: 460px) {
    .stock .stock__item--second {
      width: 100%;
      margin-bottom: 32px;
    }
}

@media (min-width: 768px) and (max-width: 1599px) {
    .stock .stock__item--third {
      width: 31.5%;
    }
}

@media (max-width: 460px) {
    .stock .stock__item--third {
      width: 100%;
    }
}

.stock__item--last {
    width: 100%;
    height: 179px;
    background-image: url(../img/accesories.png);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white-color);
    text-transform: uppercase;
    margin-top: 30px;
}

.stock__item--last:hover {
    outline: 2px solid rgb(241, 146, 162);
    cursor: pointer;
}

.stock__item--last:active {
    outline: 2px solid black;
}

.stock__item-name {
    font-size: 18px;
    line-height: 22px;
    
}

.stock__item-category {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: var(--pink-color);
}

.fetured {
    text-align: center;
}

.fetured__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    margin: 0 0 48px;
}

@media (min-width: 768px) and (max-width: 1599px) {
    .fetured .fetured__text {
      margin: 0 0 73px;
    }
  }

.fetured__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
}

.fetured__item {
    width: 360px;
    background-color: var(--gray-bkg-color);
    position: relative;
}

.fetured__item:nth-child(1),
.fetured__item:nth-child(2),
.fetured__item:nth-child(3),
.fetured__item:nth-child(4) {
    margin: 0 0 30px;
}


.fetured__item:hover .fetured__item-img,
.fetured__item:focus .fetured__item-img {
    filter: brightness(55%);
    transition: 0.6s;
}

.fetured__item:hover .fetured__item-button,
.fetured__item:focus .fetured__item-img {
    display: block;
}

.fetured__item-button:hover {
    background-color: var(--pink-color);
    transition: 0.4s;
    cursor: pointer;
}

.fetured__item-button {
    display: none;
    position: absolute;
    top: 190px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--white-color);
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid var(--white-color);
}

.fetured__item-button:active {
    outline: 2px solid palevioletred;
    opacity: 0.8;
}

.fetured__item-header {
    margin: 0 0 12px;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
}

.fetured__item-text {
    margin: 0 0 18px;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
}

.fetured__item-price {
    font-size: 16px;
    line-height: 19px;
    color: var(--pink-color);
}

.fetured__item-container {
    padding: 25px 29px 20px 16px;
}

.browse-all-product__button {
    width: 211px;
    height: 47px;
    outline: 1px solid #FF6A6A;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background: transparent;
    margin-top: 49px;
    border: 0;
    margin-bottom: 95px;
}

.browse-all-product__button:hover {
    cursor: pointer;
    background: #F16D7F;
    color: #FFF;
}

.browse-all-product__button:active {
    opacity: 0.8;
    color: #FFF;
}

.advantages__block {
    background: #222224;
    height: 341px;
    margin-top: 95px;
    margin: 0 auto;
    width: 100%;
}

@media (max-width: 1599px) {
    .advantages__block {
        height: 610px;
    }
}

.advantages__items {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    padding-top: 103px;
    padding-left: 42px;
}

@media (max-width: 1599px) {
    .advantages__items {
        width: 0;
        padding-top: 0;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
}

.advantages__items-item {
    width: 360px;
    height: 134px;
    text-align: center;
}

@media (max-width: 1599px) {
    .advantages__items-item {
        padding-top: 48px;
    }
}

.advantages__items-header {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    padding-top: 28px;
}

.advantages__items-text {
    font-family: Lato;
    font-style: normal;
    font-weight: 200;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
    padding-top: 15px;
}

.footer {
    background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url("../img/footer-background.png");
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #222222;
}

@media (max-width: 1599px) {
    .footer {
        background-size: cover;
        height: 611px;
    }
}

.footer__block {
    justify-content: space-between;
    display: flex;
    min-height: 448px;
    width: 74%;
}

@media (max-width: 1599px) {
    .footer__block {
        align-items: center;
        flex-direction: column;
    }
}

.footer__block-info {
    width: 360px;
    height: 225px;
    padding-top: 87px;
    text-align: center;
}

@media (max-width: 1599px) {
    .footer__block-info {
        padding-top: 53px;
    }
}

.footer__block-info-text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    margin-top: 30px;
}

.footer__block-subscribe {
    width: 557px;
    height: 142px;
    padding-top: 150px;
    position: relative;
}

@media (max-width: 1599px) {
    .footer__block-subscribe {
        padding-top: 48px;
    }
}

@media (max-width: 460px) {
    .footer__block-subscribe {
        width: 367px;
    }
}

.footer__block-subscribe-header {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    text-transform: uppercase;
}

@media (max-width: 460px) {
    .footer__block-subscribe-header {
        font-size: 24px;
        line-height: 17px;
    }
}

.footer__block-subscribe-text {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
    margin-top: 10px;
}

@media (max-width: 460px) {
    .footer__block-subscribe-text {
        font-size: 14px;
        line-height: 17px;
    }
}

.footer__block-subscribe-input {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    background-color: #E1E1E1;
    width: 59%;
    height: 49px;
    border: 0;
    border-radius: 30px;
    padding-left: 22px;
    margin-top: 32px;
    margin-left: 109px;
}

@media (max-width: 460px) {
    .footer__block-subscribe-input {
        margin-top: 22px;
        margin-left: 16px;
        width: 64%;
    }
}

.footer__block-subscribe-button {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background-color: #F16D7F;
    width: 100px;
    height: 51px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 0;
    position: absolute;
    bottom: -4px;
    right: 93px;
}

@media (max-width: 460px) {
    .footer__block-subscribe-button {
        bottom: 25.5px;
        right: 14px;
    }
}

.footer__block-subscribe-input:active {
    outline-style: none;
}

.footer__block-subscribe-button:active {
    outline-style: none;
    border: 2px solid plum;
}

.footer__block-subscribe-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.footer__social--block {
    background-color: var(--black-color);
    height: 79px;
    margin: 0 auto;
    position: relative;
}

@media (max-width: 1599px) {
    .footer__social--block {
        margin-top: 140px;
    }
}

@media (max-width: 460px) {
    .footer__social--block {
        height: 143px;
    }
}

.footer__social--block-text {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    padding-top: 30px;
    padding-left: 235px;
}

@media (max-width: 1599px) {
    .footer__social--block-text {
        padding-left: 35px;
    }
}

@media (max-width: 460px) {
    .footer__social--block-text {
        padding-left: 68px;
        padding-top: 110px;
    }
}

.footer__social--block-icons {
    display: flex;
    width: 142px;
    height: 32px;
    position: absolute;
    right: 230px;
    top: 23px;
}

@media (max-width: 1599px) {
    .footer__social--block-icons {
        right: 34px;
    }
}

@media (max-width: 460px) {
    .footer__social--block-icons {
        right: 114px;
        top: 43px;
    }
}

.footer__social-icon {
    padding-right: 5px;
    padding-bottom: 24px;
}

.footer__social-icons {
    height: 32px;
    width: 32px;
}

.footer__social-icons:hover {
    opacity: 0.8;
}

.registration--title {
    background-color: var(--pink-title-bkg);
    height: 148px;
    margin: 0 auto;
    width: 100%;
}

.registration--title-name {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: var(--pink-color);
    text-transform: uppercase;
    padding-top: 59px;
    padding-left: 230px;
}

.registration-form__radio {
    display: none;
}
  
.registration-form__label {
    display: block;
    margin: 0 0 10px 20px;
    position: relative;
    width: 30%;
    font-size: 16px;
    padding-left: 5px;
}
  
.registration-form__label:before {
    position: absolute;
    left: -15px;
    top: 12px;
    content: "";
    width: 10px;
    height: 10px;
    border: 1px solid #6f6e6e;
    border-radius: 50%;
    background-color: transparent;
}
  
.registration-form__radio:checked + .registration-form__label:before {
    background: var(--pink-color);
}
  
.registration__wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 90px;
}
  
.registration-form {
    max-width: 360px;
}
  
.registration-form__input {
    width: 100%;
    margin: 10px 0;
    line-height: 45px;
    border: 1px solid #A4A4A4;
    padding-left: 1em;
}
  
.registration-form__input:focus {
    outline: none;
    background-color: var(--pink-background);
}
  
.registration-form__input::placeholder {
    font-family: Lato;
    font-weight: 300;
    line-height: 16px;
    font-size: 16px;
    color: #b1b1b1;
    text-transform: capitalize;
}
  
.registration-form__legend {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    padding-bottom: 1em;
    text-transform: capitalize;
    color: #222222;
}
  
.registration-form__fieldset-radio {
    display: flex;
    padding: 30px 0;
}
  
.registration-form__error {
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    color: #b1b1b1;
    padding: 15px 0;
}
  
.registration-form__submit {
    background-color: var(--pink-color);
    border: none;
    color: #FBFBFB;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 16px 26px;
}
  
.registration-form__submit svg {
    margin-left: 20px;
}
  
.registration-form__submit:hover {
    color: var(--pink-background);
}
  
.registration-form__submit:focus,
.registration-form__submit:active {
    outline: 0;
    background-color: #ed3e56;
}
  
.registration-text {
    max-width: 650px;
}
  
.registration-text__title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 29px;
    padding-bottom: 1.5em;
}
  
.registration-text__body {
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
}
  
.registration-text__list {
    list-style-image: url("../img/check.svg");
    padding-left: 25px;
}
  
.registration-text__item {
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    padding: 15px 25px 0;
}


